.container
{
    margin-bottom: 100px;
}
.orange
{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item
{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button
{
    background-image: linear-gradient(to bottom,#FF589b 0%,#FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1
{
    background-image: linear-gradient(to bottom, rgba(255, 136, 0, 0.973) 0%, orange 100%);
}
.cat2
{
    background-image: linear-gradient(to bottom, rgba(247, 0, 255, 0.973) 0%, rgba(255, 0, 149, 0.815) 100%);
}
.cat3
{
    background-image: linear-gradient(to bottom, rgba(0, 47, 255, 0.973) 0%, rgb(98, 0, 255) 100%);
}
.cat1,.cat2,.cat3{
padding: 10px 30px;
border-radius: 10px ;
}
.categories h1
{
    color: white;
}
.categories img{
    width: 100px;
}
.card
{
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer
{
    border-top: none;
    background-color: white;
}
#subscribe{
    height: 300px;
}
footer
{
    text-align: center;
}
.buy-now-button{
    margin-top: 5px;
}